<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>todo sample</title>
		<link rel="stylesheet" href="style.css" >
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    </head>

    <body>
		<h1>ToDoリスト</h1>
		<div id="app">
			<div v-for="todo in todos">
				<label>
					<input type="checkbox" v-model="todo.done">
                    <span v-bind:class="{donestyle:todo.done}">{{todo.text}}</span>
				</label>
			</div>
			
            <input type="text" v-model.trim="addtext" placeholder="ToDo入力">
            <button v-on:click="addToDo">追加</button>
			<p><button v-on:click="cleanToDo">処理済みを削除</button></p>
			<p>{{ remaining }} / {{ todos.length }}件処理
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					addtext:'',
					todos: [],
				},
				computed: {
					remaining: function() {
						return this.todos.filter(function(val) {
							return val.done == true;
						}).length;
					}
				},
				methods: {
					addToDo: function() {
						if (this.addtext) {
							this.todos.push({done:false, text:this.addtext});
							this.addtext = '';
						}
					},
					cleanToDo: function() {
						this.todos = this.todos.filter(function(val) {
							return val.done == false;
						})
					}
				}
			})
		</script>

	</body>



    </html>
